<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-01-helloworld:war">
    <output-path>$PROJECT_DIR$/spring-boot-01-helloworld/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-boot-01-helloworld</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-boot-01-helloworld.war">
      <element id="artifact" artifact-name="spring-boot-01-helloworld:war exploded" />
    </root>
  </artifact>
</component>